include ../node_modules/bemto.jade/bemto
//
  <?php

  $utm_medium = '-';
  $utm_source = '-';
  $utm_campaign = '-';
  $utm_term = '-';
  $utm_content = '-';

  if (isset($_GET['utm_medium'])) {
    $utm_medium = $_GET['utm_medium'];
  }

  if (isset($_GET['utm_source'])) {
    $utm_source = $_GET['utm_source'];
  }

  if (isset($_GET['utm_campaign'])) {
    $utm_campaign = $_GET['utm_campaign'];
  }

  if (isset($_GET['utm_term'])) {
    $utm_term = $_GET['utm_term'];
  }

  if (isset($_GET['utm_content'])) {
    $utm_content = $_GET['utm_content'];
  }
  $url = $_SERVER['HTTP_HOST'].$_SERVER['PHP_SELF'];
  $utm =  $_SERVER["QUERY_STRING"];
  ?>

<!DOCTYPE html>
html(lang="ru")
head
  meta(charset="UTF-8")
  meta(name="viewport" content="width=device-width, initial-scale=1")
  title Санация трубопровода

  link(rel="icon" href="img/favicon.ico" type="image/x-icon")
  link(rel="shortcut icon" href="img/favicon.ico" type="image/x-icon")
  link(rel='apple-touch-icon', sizes='180x180', href='img/apple-touch-icon.png')
  link(rel='icon', type='image/png', sizes='32x32', href='img/favicon-32x32.png')
  link(rel='icon', type='image/png', sizes='16x16', href='img/favicon-16x16.png')
  //- link(rel='manifest', href='img/site.webmanifest')
  link(rel='mask-icon', href='img/safari-pinned-tab.svg', color='#5bbad5')
  meta(name='msapplication-TileColor', content='#da532c')
  meta(name='theme-color', content='#ffffff')


  link(href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&amp;subset=cyrillic-ext" rel="stylesheet")
  //build:css css/all.css
  link(rel="stylesheet", href="node_modules/animate.css/animate.min.css")
  link(rel="stylesheet", href="tmp/index.css")
  //endbuild
body.page
  .loader.loader_active
    .loader__spinner
    .loader__text Загрузка
  .loader.loader_submit
    .loader__spinner
    .loader__text Обработка...
  .top
    .container
      .row
        +b.col._lg_6._md_6._sm_6._xs_5
          +b.logo
            +e.img
              img(src='img/logo.png')
            +e.text Ростове-на-Дону,<br>ул. Текучева, 23, эт. 3
        +b.col._lg_6._md_6._sm_6._xs_7
          +b.phone-grup 
            +e.phone 8 (863) 303-38-33
            +e.text Пн.- пт. с 9:00 до 18:00<br>Сб. с 10:00 до 16:00
            +e.email info@bk-invent.ru
  .header
    .container
      .offer 
        .offer__text.start-animate
          |Санация и ремонт трубопровода любой сложности
        #offer.offer__action.start-animate(style="animation-delay: .2s") Получить расчет стоимости Вашего объекта

  +b.formm
    .container
      +e.title Записаться на бесплатный выезд инженера-проектировщика
      +b.form
        form.ajax
          input(placeholder='Введите Ваше имя' name='name').input.input_type_name
          input(placeholder='Введите Ваш телефон' name='phone').input.input_type_phone
          input(placeholder='Введите Ваш E-mail' name='email').input.input_type_email
          input(type='hidden', name='url', value!="<?echo $url?>")
          input(type='hidden', name='utm', value!="<?echo $utm?>")
          input(type='hidden', name='utm_term', value!="<?echo $utm_term?>")
          input(type='hidden', name='utm_campaign', value!="<?echo $utm_campaign?>")
          input(type='hidden', name='utm_source', value!="<?echo $utm_source?>")
          input(type='hidden', name='utm_medium', value!="<?echo $utm_medium?>")
          input(type='hidden', name='utm_content', value!="<?echo $utm_content?>")
          input(type='hidden', name='order', value='Санация трубопровода. Выезд инженера')
          input(type='submit' value='Отправить').form__btn

  .container
    .triggers
      .row
        +b.col._lg_3._md_3._sm_6._xs_12
          .triggers__items
          img(src='img/triggers__img1.png').triggers__img
          .triggers__text Опыт работы<br>более 6 лет
        +b.col._lg_3._md_3._sm_6._xs_12
          .triggers__items
          img(src='img/triggers__img6.png').triggers__img
          .triggers__text Цены ниже<br>среднерыночных<br>на 7-12%
        +b.col._lg_3._md_3._sm_6._xs_12
          .triggers__items
          img(src='img/triggers__img5.png').triggers__img
          .triggers__text Применяем<br>сертифицированные<br>материалы
        +b.col._lg_3._md_3._sm_6._xs_12
          .triggers__items
          img(src='img/triggers__img10.png').triggers__img
          .triggers__text Cанация диаметром<br>от 25мм до 900 мм
        +b.col._lg_3._md_3._sm_6._xs_12
          .triggers__items
          img(src='img/triggers__img12.png').triggers__img
          .triggers__text Без выхода на поверхность<br>до 300 м
        +b.col._lg_3._md_3._sm_6._xs_12
          .triggers__items
          img(src='img/triggers__img3.png').triggers__img
          .triggers__text Возможность прокола<br>из колодца в колодец
        +b.col._lg_3._md_3._sm_6._xs_12
          .triggers__items
          img(src='img/triggers__img11.png').triggers__img
          .triggers__text Используем технику <br>с разными возможностями
        +b.col._lg_3._md_3._sm_6._xs_12
          .triggers__items
          img(src='img/triggers__img4.png').triggers__img
          .triggers__text Предоставляем всю документацию, согласно НОССТРОЙ

  +b.ttext
    .container
      |Санация трубопровода - это бестраншейный метод ремонта трубопровода разного диаметра. Существуют два основных способа санации трубопровода : релайнинг (“труба в трубе”), этот принцип применим в тех случаях, когда вводимая труба ниже диаметром, чем ремонтируемая, и способна пройти внутри нее. И второй способ - реновация - она подразумевает разрушение старой трубы режущими приборами и очищение траншеи, по которой проходит новая заменяемая труба




  +b.textt
    .container
      +e.title Метод санации трубопровода имеет ряд преимуществ:
      +e.text
        p Нет необходимости проводить значительные земляные работы, повреждать наземный грунт, восстанавливать территорию
        p Оптимально с точки зрения безопасности, на месте существующей внутренней траншеи невозможно повредить близ лежащие коммуникации
        p Сокращает временные издержки


  .stock
    .container
      .row
        +b.col._lg_5._md_5._sm_12._xs_12._lg-offset_1
            
          .stock__title
            span Внимание 
            | акция!
          .stock__text 
            |Оставьте заявку <span>СЕГОДНЯ</span> и получите
            br
            |разовый <span>БЕСПЛАТНЫЙ</span> выезд инженера
          +b.timer
            #timer
              +e.action До конца акции осталось:
              .digits
            //- +e.el
            //-   +e.numeral 33
            //-   +e.text дней
            //- +e.el
            //-   +e.numeral 33
            //-   +e.text часов
            //- +e.el
            //-   +e.numeral 33
            //-   +e.text минут
        +b.col._lg_5._md_6._sm_12._xs_12
          .wall
            .wall__title
              span Заполните форму,
              br
              |чтобы получить бесплатную
              br
              |консультацию специалиста

            .form
              form.ajax
                input(placeholder='Введите Ваше имя' name='name').input.input_type_name
                input(placeholder='Введите Ваш телефон' name='phone').input.input_type_phone
                input(type='hidden', name='url', value!="<?echo $url?>")
                input(type='hidden', name='utm', value!="<?echo $utm?>")
                input(type='hidden', name='utm_term', value!="<?echo $utm_term?>")
                input(type='hidden', name='utm_campaign', value!="<?echo $utm_campaign?>")
                input(type='hidden', name='utm_source', value!="<?echo $utm_source?>")
                input(type='hidden', name='utm_medium', value!="<?echo $utm_medium?>")
                input(type='hidden', name='utm_content', value!="<?echo $utm_content?>")
                input(type='hidden', name='order', value='Санация трубопровода. Выезд инженера')
                input(type='submit' value='Отправить').form__btn

  +b.info
    .container
      .row
        +b.col._lg_5._md_5._sm_12._xs_12
          .info__box
            .info__title Подготовительный этап
            .info__text
              p Остановка системы (стока вод) по ремонтируемой ветке
              p Диагностика трубы методом телеинспектирования, которая позволяет оценить и выявить ее состояние
              p Промывка трубы, очистка от мусора и налета

        +b.col._lg_2._md_2._sm_12._xs_12.info__flex
          img(src="img/info__arrow.png").info__arrow
        +b.col._lg_5._md_5._sm_12._xs_12
          .info__box
            .info__title Основной этап
            .info__text
              p Подготовка приямка
              p Установка оборудования
              p Проведение санации трубопровода





  .container
    +b.title Допуски СРО
    .row#doc
      +b.col._xs_6._sm_3
        +b.zoom(data-img="doc1_big.jpg")
          img(src="img/doc1.jpg")
          +e.icon
      +b.col._xs_6._sm_3
        +b.zoom(data-img="doc2_big.jpg")
          img(src="img/doc2.jpg")
          +e.icon
      +b.col._xs_6._sm_3
        +b.zoom(data-img="doc3_big.jpg")
          img(src="img/doc3.jpg")
          +e.icon
      +b.col._xs_6._sm_3
        +b.zoom(data-img="doc4_big.jpg")
            img(src="img/doc4.jpg")
            +e.icon

 
  .container
    +b.title
      +e.wrap
        +e.text Cхема работы
    .scheme#scheme
      .row
        +b.col.col_lg_3
          .scheme__item.scheme__item_step_1.start-animate
            .scheme__title Заявка
            .scheme__text Вы оставляете заявку или звоните нам по телефону
            .scheme__btn.btn.order Оставить заявку
        +b.col._lg_5
          .scheme__item.scheme__item_step_3(style="animation-delay: 1s").start-animate
            .scheme__title Заключение подрядного договора
            .scheme__text Мы формируем коммерческое предложение и составляем договор подряда

        +b.col._lg_3
          .scheme__item.scheme__item_step_5(style="animation-delay: 2s").start-animate
            .scheme__title Осуществление работ
            .scheme__text Проводим необходимые работы по проектированию и монтажу
      .scheme__progress-bar
      .row
        +b.col._lg_5
          .scheme__item.scheme__item_step_2(style="animation-delay: .5s").start-animate
            .scheme__title Бесплатное обследование объекта
            .scheme__text Мы отправляем главного инженера на объект для выяснения подробностей
        +b.col._lg_4
          .scheme__item.scheme__item_step_4(style="animation-delay: 1.5s").start-animate
            .scheme__title Предоставление документов
            .scheme__text Вы предоставляете нам все необходимые документы
        +b.col._lg_3
          .scheme__item.scheme__item_step_6(style="animation-delay: 2.5s").start-animate
            .scheme__title Получение лицевого счета
            .scheme__text Гарантируем, что вы получите лицевой счет на водоснабжение и канализацию

    .scheme.scheme_mod_1
      .row
        +b.col._sm_6
          .scheme__item.scheme__item_step_1
            .scheme__title Заявка
            .scheme__text Вы оставляете заявку или звоните нам по телефону
            .btn.btn_style_small.order Оставить заявку
        +b.col._sm_6
          .scheme__item.scheme__item_step_2
            .scheme__title Бесплатное обследование объекта
            .scheme__text Мы отправляем главного инженера на объект для выяснения подробностей
        +b.col._sm_6
          .scheme__item.scheme__item_step_3
            .scheme__title Заключение подрядного договора
            .scheme__text Мы формируем коммерческое предложение и составляем договор подряда
        +b.col._sm_6
          .scheme__item.scheme__item_step_4
            .scheme__title Предоставление документов
            .scheme__text Вы предоставляете нам все необходимые документы

        +b.col._sm_6
          .scheme__item.scheme__item_step_5
            .scheme__title Осуществление работ
            .scheme__text Проводим необходимые работы по проектированию и монтажу
        +b.col._sm_6
          .scheme__item.scheme__item_step_6
            .scheme__title Получение лицевого счета
            .scheme__text Гарантируем, что вы получите лицевой счет на водоснабжение и канализацию

  .questions
    .questions__title Остались вопросы?
    | Задайте их нашему специалисту!
  .btn.order Получить бесплатную консультацию
  .map#map
  .footer
    .container
      .row
        +b.col_sm_4
          .footer__contact.footer__contact_type_adress Ростове-на-Дону,<br>ул. Текучева, 23, эт. 3
        +b.col_sm_4
          .footer__contact.footer__contact_type_call
            +b.phone-grup._footer 
              +e.phone 8 (863) 303-38-33
              +e.text Пн.- пт. с 9:00 до 18:00<br>Сб. с 10:00 до 16:00
        +b.col_sm_4
          .footer__contact.footer__contact_type_mail order@bk-invent.ru
  .modal#modal__product
    .modal__wrapper
        .modal__dialog
            .close.modal__close
            .modal__title Узнайте стоимость
            +b.form
              form.ajax
                input(placeholder='Введите Ваше имя' name='name').input.input_type_name
                input(placeholder='Введите Ваш телефон' name='phone').input.input_type_phone
                input(placeholder='Введите Ваш E-mail' name='email').input.input_type_email
                input(type='hidden', name='url', value!="<?echo $url?>")
                input(type='hidden', name='utm', value!="<?echo $utm?>")
                input(type='hidden', name='utm_term', value!="<?echo $utm_term?>")
                input(type='hidden', name='utm_campaign', value!="<?echo $utm_campaign?>")
                input(type='hidden', name='utm_source', value!="<?echo $utm_source?>")
                input(type='hidden', name='utm_medium', value!="<?echo $utm_medium?>")
                input(type='hidden', name='utm_content', value!="<?echo $utm_content?>")
                input(type='hidden', name='order', value='Санация трубопровода. Узнайте стоимость')
                input(type='submit' value='Отправить').form__btn
  .modal#modal__order
    .modal__wrapper
        .modal__dialog
            .close.modal__close
            .modal__title Получить бесплатную консультацию
            +b.form
              form.ajax
                input(placeholder='Введите Ваше имя' name='name').input.input_type_name
                input(placeholder='Введите Ваш телефон' name='phone').input.input_type_phone
                input(placeholder='Введите Ваш E-mail' name='email').input.input_type_email
                input(type='hidden', name='url', value!="<?echo $url?>")
                input(type='hidden', name='utm', value!="<?echo $utm?>")
                input(type='hidden', name='utm_term', value!="<?echo $utm_term?>")
                input(type='hidden', name='utm_campaign', value!="<?echo $utm_campaign?>")
                input(type='hidden', name='utm_source', value!="<?echo $utm_source?>")
                input(type='hidden', name='utm_medium', value!="<?echo $utm_medium?>")
                input(type='hidden', name='utm_content', value!="<?echo $utm_content?>")
                input(type='hidden', name='order', value='Санация трубопровода. Консультация')
                input(type='submit' value='Отправить').form__btn

  .modal#modal__ok
    .modal__wrapper
        .modal__dialog
            .close.modal__close
            .modal__title <b>Ваша заявка принята</b> <br>Наш специалист свяжется с вами в течении 20 минут

  .modal.modal_type_zoom#modal__zoom
    .modal__wrapper
        .modal__dialog
            .close.modal__close
            img(src="")#zoom__img

  script(src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript")
  //build:js js/all.js
  script(src="node_modules/jquery/dist/jquery.min.js")
  script(src="node_modules/waypoints/lib/jquery.waypoints.min.js")
  //- script(src="node_modules/bxslider/dist/jquery.bxslider.min.js")
  script(src="node_modules/jquery-validation/dist/jquery.validate.min.js")
  script(src="tmp/index.js")
  //endbuild
  script(type='text/javascript').
    (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
    m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
    (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");
    ym(51690836, "init", {
    id:51690836,
    clickmap:true,
    trackLinks:true,
    accurateTrackBounce:true,
    webvisor:true
    });
  noscript
    div
      img(src='https://mc.yandex.ru/watch/51690836', style='position:absolute; left:-9999px;', alt='')

  script.
    (function(w, d, s, h, id) {    w.roistatProjectId = id; w.roistatHost = h;    var p = d.location.protocol == "https:" ? "https://" : "http://";    var u = /^.*roistat_visit=[^;]+(.*)?$/.test(d.cookie) ? "/dist/module.js" : "/api/site/1.0/"+id+"/init";    var js = d.createElement(s); js.charset="UTF-8"; js.async = 1; js.src = p+h+u; var js2 = d.getElementsByTagName(s)[0]; js2.parentNode.insertBefore(js, js2);})(window, document, 'script', 'cloud.roistat.com', 'd146057ffd124300f00ff5e37179672c');
  script(type='text/javascript').
    (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)}; m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)}) (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym"); ym(53737453, "init", { clickmap:true, trackLinks:true, accurateTrackBounce:true, webvisor:true, trackHash:true });
  noscript
    div
      img(src='https://mc.yandex.ru/watch/53737453', style='position:absolute; left:-9999px;', alt='')