include ../node_modules/bemto.jade/bemto
//
  <?php

  $utm_medium = '-';
  $utm_source = '-';
  $utm_campaign = '-';
  $utm_term = '-';
  $utm_content = '-';

  if (isset($_GET['utm_medium'])) {
    $utm_medium = $_GET['utm_medium'];
  }

  if (isset($_GET['utm_source'])) {
    $utm_source = $_GET['utm_source'];
  }

  if (isset($_GET['utm_campaign'])) {
    $utm_campaign = $_GET['utm_campaign'];
  }

  if (isset($_GET['utm_term'])) {
    $utm_term = $_GET['utm_term'];
  }

  if (isset($_GET['utm_content'])) {
    $utm_content = $_GET['utm_content'];
  }
  $url = $_SERVER['HTTP_HOST'].$_SERVER['PHP_SELF'];
  $utm =  $_SERVER["QUERY_STRING"];
  ?>

<!DOCTYPE html>
html(lang="ru")
head
  meta(charset="UTF-8")
  meta(name="viewport" content="width=device-width, initial-scale=1")
  title Санация трубопровода

  link(rel="icon" href="img/favicon.ico" type="image/x-icon")
  link(rel="shortcut icon" href="img/favicon.ico" type="image/x-icon")
  link(rel='apple-touch-icon', sizes='180x180', href='img/apple-touch-icon.png')
  link(rel='icon', type='image/png', sizes='32x32', href='img/favicon-32x32.png')
  link(rel='icon', type='image/png', sizes='16x16', href='img/favicon-16x16.png')
  //- link(rel='manifest', href='img/site.webmanifest')
  link(rel='mask-icon', href='img/safari-pinned-tab.svg', color='#5bbad5')
  meta(name='msapplication-TileColor', content='#da532c')
  meta(name='theme-color', content='#ffffff')


  link(href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&amp;subset=cyrillic-ext" rel="stylesheet")
  //build:css css/all.css
  link(rel="stylesheet", href="node_modules/animate.css/animate.min.css")
  link(rel="stylesheet", href="tmp/index.css")
  //endbuild
body.page
  .loader.loader_active
    .loader__spinner
    .loader__text Загрузка
  .loader.loader_submit
    .loader__spinner
    .loader__text Обработка...
  .top
    .container
      .row
        +b.col._lg_6._md_6._sm_6._xs_5
          +b.logo
            +e.img
              img(src='img/logo.png')
            +e.text Ростове-на-Дону,<br>ул. Текучева, 23, эт. 3
        +b.col._lg_6._md_6._sm_6._xs_7
          +b.phone-grup 
            +e.phone 8 (863) 303-38-33
            +e.text Пн.- пт. с 9:00 до 18:00<br>Сб. с 10:00 до 16:00
            +e.email info@bk-invent.ru
  .header
    .container
      .offer 
        .offer__text.start-animate
          |Санация и ремонт трубопровода любой сложности
        #offer.offer__action.start-animate(style="animation-delay: .2s") Получить расчет стоимости Вашего объекта


  .container
    .triggers
      .row
        +b.col._lg_2._md_2._sm_6._xs_12
          .triggers__items
          img(src='img/triggers__img1.png').triggers__img
          .triggers__text Опыт работы<br>более 6 лет
        +b.col._lg_2._md_2._sm_6._xs_12
          .triggers__items
          img(src='img/triggers__img7.png').triggers__img
          .triggers__text Имеем право участия<br> в конкурсах, СРО
        +b.col._lg_3._md_3._sm_6._xs_12
          .triggers__items
          img(src='img/triggers__img2.png').triggers__img
          .triggers__text Бесплатные<br>консультации 
        +b.col._lg_4._lg-offset_1._md_4._sm_12._xs_12
          .about ООО «БК Инвент» — общество профессионалов, использующих в своей практике инновационный подход к решению как проектных, так и инженерно-строительных задач.

  +b.textt
    .container
      +e.title Метод санации трубопровода имеет ряд преимуществ:
      +e.text
        p Нет необходимости проводить значительные земляные работы, повреждать наземный грунт, восстанавливать территорию
        p Оптимально с точки зрения безопасности, на месте существующей внутренней траншеи невозможно повредить близ лежащие коммуникации
        p Сокращает временные издержки


  .stock
    .container
      .row
        +b.col._lg_5._md_5._sm_12._xs_12._lg-offset_1
            
          .stock__title
            span Внимание 
            | акция!
          .stock__text 
            |Оставьте заявку <span>СЕГОДНЯ</span> и получите
            br
            |разовый <span>БЕСПЛАТНЫЙ</span> выезд инженера
          +b.timer
            #timer
              +e.action До конца акции осталось:
              .digits
            //- +e.el
            //-   +e.numeral 33
            //-   +e.text дней
            //- +e.el
            //-   +e.numeral 33
            //-   +e.text часов
            //- +e.el
            //-   +e.numeral 33
            //-   +e.text минут
        +b.col._lg_5._md_6._sm_12._xs_12
          .wall
            .wall__title
              span Заполните форму,
              br
              |чтобы получить бесплатную
              br
              |консультацию специалиста

            .form
              form.ajax
                input(placeholder='Введите Ваше имя' name='name').input.input_type_name
                input(placeholder='Введите Ваш телефон' name='phone').input.input_type_phone
                input(type='hidden', name='url', value="<?echo $url?>")
                input(type='hidden', name='utm', value="<?echo $utm?>")
                input(type='hidden', name='utm_term', value="<?echo $utm_term?>")
                input(type='hidden', name='utm_campaign', value="<?echo $utm_campaign?>")
                input(type='hidden', name='utm_source', value="<?echo $utm_source?>")
                input(type='hidden', name='utm_medium', value="<?echo $utm_medium?>")
                input(type='hidden', name='utm_content', value="<?echo $utm_content?>")
                input(type='hidden', name='order', value='Санация трубопровода. Выезд инженера')
                input(type='submit' value='Отправить').form__btn

  
  +b.info
    +e.icon
    +e.title Подготовительный этап
    +e.text
      p Остановка системы (стока вод) по ремонтируемой ветке
      p Диагностика трубы методом телеинспектирования, которая позволяет оценить и выявить ее состояние
      p Промывка трубы, очистка от мусора и налета
    +e.title Основной этап
    +e.text
      p Подготовка приямка
      p Установка оборудования
      p Проведение санации трубопровода





  .container
    +b.title Допуски СРО
    .row#doc
      +b.col._xs_6._sm_3
        +b.zoom(data-img="doc1_big.jpg")
          img(src="img/doc1.jpg")
          +e.icon
      +b.col._xs_6._sm_3
        +b.zoom(data-img="doc2_big.jpg")
          img(src="img/doc2.jpg")
          +e.icon
      +b.col._xs_6._sm_3
        +b.zoom(data-img="doc3_big.jpg")
          img(src="img/doc3.jpg")
          +e.icon
      +b.col._xs_6._sm_3
        +b.zoom(data-img="doc4_big.jpg")
            img(src="img/doc4.jpg")
            +e.icon

 
  //- .scheme
  //-   .container
  //-     .title Как мы работаем
  //-     .row
  //-       +b.col._lg_3._md_3._sm_6._xs_12
  //-         .scheme__item
  //-           .scheme__n 1
  //-           .scheme__title Заявка<br>
  //-           .scheme__text Вы нам звоните, заполняете форму обратной связи или пишите на e-mail
  //-       +b.col._lg_3._md_3._sm_6._xs_12
  //-         .scheme__item
  //-           .scheme__n 2
  //-           .scheme__titleОбследование<br>объекта
  //-           .scheme__text На объект выезжает наш инженер для подробного обследования и уточнения всех необходимых нюансов.
  //-       +b.col._lg_3._md_3._sm_6._xs_12
  //-         .scheme__item
  //-           .scheme__n 3
  //-           .scheme__title Коммерческое<br>предложение

  //-           .scheme__text Мы формируем коммерческое предложение на основании заполненной справки и отправляем вам на согласование
  //-       +b.col._lg_3._md_3._sm_6._xs_12
  //-         .scheme__item
  //-           .scheme__n 4
  //-           .scheme__title Контракт
  //-           .scheme__text Предоставляем вам полный пакет документов и заключаем контракт
  //-       +b.col._lg_3._md_3._sm_6._xs_12
  //-         .scheme__item
  //-           .scheme__n 5
  //-           .scheme__title Изготовление<br>паспорта
  //-           .scheme__text Занимает 5 рабочих дней с момента предоставления информационной справки
  //-       +b.col._lg_3._md_3._sm_6._xs_12
  //-         .scheme__item
  //-           .scheme__n 6
  //-           .scheme__title Выдача<br>паспорта

  //-           .scheme__text Происходит на основании подписанных актов выполненных работ и обмена подписанных документов
  //-       +b.col._lg_3._md_3._sm_6._xs_12
  //-         .scheme__item
  //-           .scheme__n 7
  //-           .scheme__title Оплата<br>по договору
  //-           .scheme__textИ И только после того, как вы получили паспорт на руки, вы оплачиваете выставленный счет
  //-       +b.col._lg_3._md_3._sm_6._xs_12
  //-         .scheme__item
  //-           .scheme__n 8
  //-           .scheme__title Гарантия
  //-           .scheme__text Мы даем гарантию, что Водоканал примет паспорт. Вы даете нам обратную связь, когда это произошло!

  .questions
    .questions__title Остались вопросы?
    | Задайте их нашему специалисту!
  .btn.order Получить бесплатную консультацию
  .map#map
  .footer
    .container
      .row
        +b.col_sm_4
          .footer__contact.footer__contact_type_adress Ростове-на-Дону,<br>ул. Текучева, 23, эт. 3
        +b.col_sm_4
          .footer__contact.footer__contact_type_call
            +b.phone-grup._footer 
              +e.phone 8 (863) 303-38-33
              +e.text Пн.- пт. с 9:00 до 18:00<br>Сб. с 10:00 до 16:00
        +b.col_sm_4
          .footer__contact.footer__contact_type_mail order@bk-invent.ru
  .modal#modal__product
    .modal__wrapper
        .modal__dialog
            .close.modal__close
            .modal__title Узнайте стоимость
            +b.form
              form.ajax
                input(placeholder='Введите Ваше имя' name='name').input.input_type_name
                input(placeholder='Введите Ваш телефон' name='phone').input.input_type_phone
                input(placeholder='Введите Ваш E-mail' name='email').input.input_type_email
                input(type='hidden', name='url', value="<?echo $url?>")
                input(type='hidden', name='utm', value="<?echo $utm?>")
                input(type='hidden', name='utm_term', value="<?echo $utm_term?>")
                input(type='hidden', name='utm_campaign', value="<?echo $utm_campaign?>")
                input(type='hidden', name='utm_source', value="<?echo $utm_source?>")
                input(type='hidden', name='utm_medium', value="<?echo $utm_medium?>")
                input(type='hidden', name='utm_content', value="<?echo $utm_content?>")
                input(type='hidden', name='order', value='Санация трубопровода. Узнайте стоимость')
                input(type='submit' value='Отправить').form__btn
  .modal#modal__order
    .modal__wrapper
        .modal__dialog
            .close.modal__close
            .modal__title Получить бесплатную консультацию
            +b.form
              form.ajax
                input(placeholder='Введите Ваше имя' name='name').input.input_type_name
                input(placeholder='Введите Ваш телефон' name='phone').input.input_type_phone
                input(placeholder='Введите Ваш E-mail' name='email').input.input_type_email
                input(type='hidden', name='url', value="<?echo $url?>")
                input(type='hidden', name='utm', value="<?echo $utm?>")
                input(type='hidden', name='utm_term', value="<?echo $utm_term?>")
                input(type='hidden', name='utm_campaign', value="<?echo $utm_campaign?>")
                input(type='hidden', name='utm_source', value="<?echo $utm_source?>")
                input(type='hidden', name='utm_medium', value="<?echo $utm_medium?>")
                input(type='hidden', name='utm_content', value="<?echo $utm_content?>")
                input(type='hidden', name='order', value='Санация трубопровода. Консультация')
                input(type='submit' value='Отправить').form__btn

  .modal#modal__ok
    .modal__wrapper
        .modal__dialog
            .close.modal__close
            .modal__title <b>Ваша заявка принята</b> <br>Наш специалист свяжется с вами в течении 20 минут

  .modal.modal_type_zoom#modal__zoom
    .modal__wrapper
        .modal__dialog
            .close.modal__close
            img(src="")#zoom__img

  script(src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript")
  //build:js js/all.js
  script(src="node_modules/jquery/dist/jquery.min.js")
  script(src="node_modules/waypoints/lib/jquery.waypoints.min.js")
  //- script(src="node_modules/bxslider/dist/jquery.bxslider.min.js")
  script(src="node_modules/jquery-validation/dist/jquery.validate.min.js")
  script(src="tmp/index.js")
  //endbuild
  script(type='text/javascript').
    (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
    m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
    (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");
    ym(51690836, "init", {
    id:51690836,
    clickmap:true,
    trackLinks:true,
    accurateTrackBounce:true,
    webvisor:true
    });
  noscript
    div
      img(src='https://mc.yandex.ru/watch/51690836', style='position:absolute; left:-9999px;', alt='')
