 @import "utilities/reset.styl"
 @import "mixins/flex-grid.styl"
 

.page
    font-family 'Open Sans', sans-serif
    background #fff
    font-weight normal
    font-style normal
    overflow-x hidden
.loader
    position fixed
    width 100%
    height 100%
    background-color #fff
    left 0
    top 0
    z-index 99999
    display none
    &_submit
        background rgba(0,0,0,.78)
        .loader__text
            color #fff
    &_active
        display block
    &__text
        font-size 14px
        line-height 1em
        position absolute
        left 50%
        width 100px 
        text-align center
        margin-left -50px
        bottom 20px
        color #828282
    &__spinner 
        background url('../img/logo.png')
        background-repeat no-repeat
        background-size 80px
        width 120px
        height 120px
        background-position center
        background-size 90px
        background-color #fff
        border-radius 100%
        position absolute
        top 50%
        left 50%
        margin-top -60px
        margin-left -60px
        animation sk-scaleout 2.0s infinite ease-in-out
        
@keyframes sk-scaleout
    0%
        transform scale(0)
        
    100%
        transform scale(1.0)
        opacity 0
    
.row
    make-row()
.col
    make-col-ready()
    make-col('xs') //Extra small devices 
    @media (min-width 768px)
        make-col('sm') //Small devices Tablets 
    @media (min-width 992px)
        make-col('md') //Medium devices Desktops 
    @media (min-width 1200px)
        make-col('lg') //Large devices Desktops 

.container
    padding 0 10px
    @media (min-width 1200px)
        padding 0
    max-width 1200px
    margin auto
    width 100%
    
.top
    background-color #fff
    width 100%
    padding 20px 0

.logo
    &__img
        // padding-top 5px
        display inline-block
        float left
        & img
            width 100px
        @media (min-width 500px)
            & img
                width auto
    &__text
        font-weight 300
        font-size 15px
        color #000
        line-height 1.357
        text-align left
        padding 35px 0 0 40px
        display none
        @media (min-width 770px)
            display inline-block
  
.phone-grup
    text-align right
    line-height 1
    margin-top 10px
    display inline-block
    //@media (min-width 790px)
        //float left
    float right
    font-weight 300
    &_footer
        text-align center
        margin-top 0
    &__phone
        font-size 20px
        color #000
        font-weight 600
    &__text
        margin-top 10px
        font-size 14px
        line-height 1.4em
    &__email
        margin-top 15px
        font-size 16px
        line-height 1.4em

.header
    width 100%
    // padding 200px 0
    text-align center
    
    background #63b1ff url('../img/header-bg.jpg')no-repeat center
    background-size cover
    //background-attachment fixed 
    padding 100px 0

.offer
    text-align left !important
    position relative
    &__text
        // &:after
        //     content " "
        //     position absolute
        //     width 40%
        //     height 5px
        //     background #fff
        //     margin-top 27px
        //     @media (min-width 1000px)
        //         display block
        //     display none
        //     margin-top 25px
        //     box-shadow 0px 0px 5px rgba(7, 7, 7, 0.7)
        @media (min-width 1000px)
            //margin-bottom 100px
            font-size 34px
        margin-bottom 50px
        font-weight 500
        @media (min-width 640px)
            font-size 30px
        font-size 20px
        color #fff
        line-height 1.8em
        font-weight 300
        //-shadow 0px 0px 10px rgba(7, 7, 7, 0.7)
        text-transform uppercase
        //width 100%
        span
            color #e93935
    &__action
        @media (min-width 1000px)
            font-size 16px
        font-size 14px
        line-height 1.2em
        padding 15px 30px
        border-radius 100px
        //border 2px solid #fff
        color #000
        display inline-block
        text-align center
        background-color #fff
        cursor pointer
        transition all .1s linear
        //box-shadow  0px 2px 18px 0px rgba(171, 7, 46, 0.42)
        position relative
        user-select none
        //text-transform uppercase
        @media (min-width 640px)
            font-size 16
        
    
.btn
    user-select none
    height 50px
    font-size 16px
    color #fff
    background #3e94eb
    border-radius 100px
    text-align center
    line-height 50px
    display inline-block
    position relative
    top 0
    cursor pointer
    transition all .1s linear
    padding 0 25px
    margin auto
    display table
    // &:active
    //     top 3px
    //     box-shadow 0px 0px 0px 0px #950b0b
    // &_style_blue
    //     background #4273d6 linear-gradient(0deg, #4273d6, #477de9)
    //     box-shadow 0px 3px 0px 0px #174497
    // &_style_small
    //     font-size 12px !important
    //     line-height 28px
    //     height 28px
    //     border-radius 4px
    //     padding 0 15px
    //     margin-bottom 10px
    //     float left

//ТРИГЕРЫ
.triggers
    width 100%
    text-align center
    margin-bottom 60px
    &__text
        font-size 17px 
        line-height 1.3em
        color #000
    &__img
        margin 60px 0 10px
    
.about
    font-weight 300
    font-size 15px
    line-height 1.8em
    text-align left
    margin-top 60px 

.textt
    font-weight 300
    font-size 16px
    line-height 1.8em
    @media (min-width 900px)
        background #fff url('../img/textt-bg.jpg') no-repeat center right
    min-height 300px
    &__text
        max-width 700px
        p
            margin-bottom 15px
            position relative
            padding-left 40px
            &:before
                content ''
                background url('../img/textt-like.png') no-repeat center
                background-size 20px
                display block
                width 25px
                height 25px
                position absolute
                left -0px
                 
    &__title
        padding-top 50px
        font-size 22px
        margin-bottom 15px
        position relative
        &:before
            content ' '
            width 100000px 
            height 2px
            position absolute
            left -100040px
            top 60px
            background #868686

.product
    background #f1f1f1
    padding 30px 15px
    line-height 1.2em
    text-align center
    font-weight 300
    margin-bottom 20px
    &__title
        font-size 20px
        color #000
        margin-bottom 20px
    &__price
        font-size 17px
        color #e91a1a 
        margin-bottom 10px
        font-weight 500
        &_old
            color #000
            font-weight 300
            text-decoration line-through
    &__btn
        font-size 16px
        background #3e94eb
        color #fff
        text-align center
        padding 10px 30px
        display inline-block
        border-radius 100px
        margin-top 15px
        cursor pointer
            
            


.input
    font-size 16px
    color #545454
    //border-radius 4px 
    border 1px solid #bcb8b8
    height 45px
    outline 0
    padding 0 40px 0 20px
    width 100%
    background-color #fff
    background-repeat no-repeat
    background-position right 10px center  
    &::placeholder
        color #616161
    &_type_name
        background-image url('../img/input_type_name.png')
    &_type_phone
        background-image url('../img/input_type_phone.png')
    &_type_email
        background-image url('../img/input_type_email.png')
    
    &_error
        border-color #fc4e4e
        &::placeholder
            color #ff5959
    
    &_ok
        border-color #5a9c38
        color #57ad21
.form
    &__btn
        cursor pointer
        transition all .1s linear
        font-size 16px
        line-height 1.2em
        padding 15px 30px
        border-radius 100px
        //border 2px solid #fff
        color #fff
        display inline-block
        text-align center
        background-color #3e94eb
        cursor pointer
        transition all .1s linear
        //box-shadow  0px 2px 18px 0px rgba(171, 7, 46, 0.42)
        position relative
        user-select none
        text-transform uppercase



.title
    text-align center
    font-size 30px 
    line-height 1.2em
    color #000
    font-weight 300
    margin 35px 0 50px 0


.wall
    max-width 390px
    background #fff
    border-radius 30px
    border 3px solid #e2e2e2
    margin auto
    display table
    box-shadow 0px 2px 30px 0px rgba(207, 207, 207, 0.6)
    @media (min-width 450px)
        padding 70px 60px
    padding 70px 40px
    min-height 300px
    position relative
    &__title
        font-size 18px
        line-height 1.5em
        text-align center
        color #000
        font-weight 300
        span
            font-size 25px
            font-weight 400
            margin-bottom 10px
            display inline-block
        // @media (min-width 1200px)
        //     margin-bottom 40px
        // margin-bottom 20px
        margin-bottom 30px
    & .input
        margin-bottom 10px
    & .form__btn
        width 100%
        margin-top 20px
        //background  url('../img/pdf.png') no-repeat right 10px center, linear-gradient( 0deg, #fc4c4c, #ff5959)
        margin-bottom 20px
     

.start-animate
    opacity 0
.finish-animate
    opacity 1

.scheme
    margin 60px 0
    display none
    &__btn
        height auto
        font-size 12px
        padding 10px 20px
        line-height 1em
        
    @media (min-width 1200px)
        display block
    &__item
        // transition all 5s linear
        border-radius 10px 
        border 3px solid #d3dfe0
        padding 20px 30px
        display table
        position relative
        min-height 160px
        &::after
            content " "
            position absolute
            display block
            width 30px
            height 30px
            border-right 3px solid #d3dfe0
            border-bottom 3px solid #d3dfe0
            transform rotate(45deg)
            bottom -17px
            left calc(50% - 15px)
            background #fff
        &::before
            font-size 16px
            line-height 40px
            width 40px
            height 40px
            background linear-gradient( 0deg, rgb(66,115,214) 0%, rgb(71,125,233) 100%)
            border-radius 100%
            border 6px solid #fff
            content " "
            position absolute
            bottom -70px
            left calc(50% - 20px)
            text-align center
            line-height 28px
            color #fff
            font-weight 500

        &_step
            &_1
                max-width 225px
                &::before
                    content "1"
            &_2
                max-width 320px
                margin auto
                &::before
                    content "2"
            &_3
                max-width 320px
                margin auto
                &::before
                    content "3"
            &_4
                margin auto
                max-width 290px
                &::before
                    content "4"
            &_5
                max-width 245px
                &::before
                    content "5"
            &_6
                max-width 260px
                float right
                &::before
                    content "6"
            &_2
            &_4
            &_6
                padding-top 25px
                min-height 140px
                &::after
                    bottom 0
                    top -17px
                    transform rotate(-135deg)
                &::before
                    bottom 0px
                    top -70px
    &_mod_1
        
        .scheme__title
            padding 6px 12px
        display block  
        @media (min-width 1200px)
            display none
        & .scheme__item_step
            &_1
            &_2
            &_3
            &_4
            &_5
            &_6
                float none !important
                width 100%
                max-width none
                padding 10px
                padding-top 20px
                padding-bottom 20px
                min-height 150px
                margin-bottom 20px 
                &::after
                    display none !important
                &::before
                    // border 0px
                    // width 28px
                    // height 28px
                    top -18px
                    right 0
                    left calc(100% - 28px) !important
                    bottom calc(100%) !important
            &_1
                &::before
                    content "1"
            &_2
                &::before
                    content "2"
            &_3
                &::before
                    content "3"
            &_4
                &::before
                    content "4"
            &_5
                &::before
                    content "5"
            &_6
                &::before
                    content "6"
    &__title
        font-size 13px 
        color #fff
        line-height 1em
        background rgb(66,115,214) linear-gradient( 0deg, rgb(66,115,214) 0%, rgb(71,125,233) 100%);
        padding 4px 8px 
        display inline-block
        border-radius 40px
        margin-bottom 10px
        font-weight 300
    &__text
        font-size 12px
        line-height 1.4em
        color #454545
        margin-bottom 10px
        font-weight 300
    // &__number
    &__progress-bar
        background linear-gradient( 90deg, rgba(210,223,224,0.25098) 0%, rgba(71,123,231,0.25) 0%, rgb(72,124,233) 100%);
        height 16px
        width 100%
        border-radius 20px
        margin 40px 0
        
        
.questions
    font-size 18px 
    color #000
    line-height 1.2em
    text-align center
    margin-bottom 40px
    margin-top 100px
    font-weight 300
    &__title
        font-size 30px
        padding-bottom 25px
        text-transform uppercase
        
.map
    margin-top 80px
    border-top 3px solid #d8dee5
    width 100%
    @media (min-width 790px)
        height 400px
    height 300px
.footer
    background #d8dee5
    width 100%
    padding 10px 0
    text-align center
    font-size 16px
    line-height 1.2em
    color #5d5c5c
    &__contact
        min-height 80px
        display flex
        justify-content center    
        flex-direction column
        &_type
            &_adress
                background url('../img/contacts__adress.png') no-repeat center
            &_mail
                background url('../img/contacts__mail.png') no-repeat center
            &_call
                background url('../img/contacts__call.png') no-repeat center
                
.zoom
    position relative
    line-height 0
    cursor pointer
    // padding 10px 0
    img
        width 100%
        margin-bottom 20px
        transition all .2s linear
    &:hover
        img
            opacity .5
    &__icon
        position absolute
        display block
        width 100%
        height 100%
        z-index 10
        background url('../img/zoom.png') no-repeat center
        top 0
        left 0
        opacity 0
        transition all .2s linear
        &:hover
            opacity 1

.close
    background url('../img/close.png') no-repeat center
    width 25px
    height 25px
                
.modal
    position fixed
    left 0
    top 0
    height 100%
    width 100%
    // opacity 0
    visibility hidden
    z-index 190
    transition visibility 0ms 300ms
    &__wrapper
        display flex
        overflow auto
        //white-space nowrap
        position absolute
        left 0
        top 0
        height 100%
        width 100%
        z-index 1000
        transition opacity 300ms 0ms, visibility 0ms 300ms
        opacity 0
        visibility hidden
        background-color rgba(0, 0, 0, 0.78) 
        
    &::after
        display inline-block
        vertical-align middle
        width 0
        height 100%
        content ''

    &_visible
        // opacity 1
        visibility visible

    &__dialog
        display inline-table
        vertical-align middle
        z-index 100
        margin auto
        transition transform 300ms 0ms
        transform translateY(-10px)
        width 90%
        max-width 400px
        min-width 300px
        position relative
        background #fff
        height auto
        border-radius 30px
        border 3px solid #ebebeb
        //box-shadow 0px 2px 30px 0px rgba(207, 207, 207, 0.6)
        @media (min-width 450px)
            padding 70px 60px
        padding 70px 40px
        & 
            .input
                margin-bottom 15px
            img
                max-width 100%
            .form__btn
                width 100%
                margin-top 15px
        
            
    &_type_zoom
        .modal__dialog
            background #fff
            width auto
            max-width 90%
            min-width 300px
            padding 40px 20px 20px 20px
            line-height 0
            border-radius 4px
            margin 20px auto
            padding 60px 20px 20px 20px
                        
    &__title
        font-size 20px
        line-height 1.7em
        text-align center
        color #010101
        margin-bottom 30px
        margin-top 10px

    &__close
        cursor pointer
        position absolute
        right 15px
        top 15px
        display inline-block
        z-index 1050 
        
    &.modal_visible
        .modal__wrapper
            transition opacity 300ms 0ms, visibility 0ms 0ms
            opacity 1
            visibility visible
        .modal__dialog
            transition transform 300ms 0ms
            transform translateY(0)

.modal-open
    overflow hidden
    

.stock
    width 100%
    background #f5f4f4 url('../img/stock-bg.jpg')
    padding 50px 0px
    margin-top 100px
    box-shadow inset 0px 0px 32px 0px rgba(103, 103, 103, 0.22)
    font-weight 300
    line-height 1.5em
    span
        font-weight 500
    &__title
        font-size 30px
        margin-bottom 20px
        @media (min-width 990px)
            margin-top 100px
    &__text
        font-size 18px
        line-height 1.8em
        
.timer
    margin-bottom 35px 
    @media (min-width 990px)
        margin-bottom 0 
    &__action
        font-size 16px
        line-height 1.2em
        margin 40px 0 20px 0
    &__el
        display inline-block
        width 50px
        margin-right 14px
        @media (min-width 380px)
            margin-right 15px
            width 74px
    &__numeral
        border 2px solid rgb(66, 115, 214)
        border-radius 50%
        positio absolute
        @media (min-width 380px)
            width 74px
            height 74px
            font-size 45px
            line-height 70px   
        width 50px
        height 50px
        line-height 46px
        font-size 32px
        text-align center
        font-weight 300
        display inline-block
    &__text
        margin-top 10px
        @media (min-width 380px)
            font-size 16px
        font-size 14px
        line-height 1em
        text-align center
        
#doc
    margin-bottom 80px
    
.info
    &__flex
        display flex
        justify-content center
        flex-direction column
    &__arrow
        display block
        margin auto
        @media (max-width 991px)
            transform rotate(90deg)
    &__box
        height 100%
        border 2px solid #e2e2e2
        box-shadow 0 2px 30px 0 rgba(207,207,207,.6)
        border-radius 5px
        padding 20px
    font-weight 300
    // max-width 750px
    margin 100px auto 70px auto
    // background url('../img/info-bg.png') no-repeat bottom center
    // background-size contain
    // padding 0 20px 30px 20px
    position relative
    width 100%
    &__title
        font-size 20px 
        line-height 1.4em
        color #000
        margin-bottom 20px
    &__text
        font-size 16px
        color #0f0f0f
        line-height 1.5em
        p
            margin-bottom 15px
            position relative
            padding-left 10px
            &:before
                content '-'
                display block
                width 10px
                height 10px
                position absolute
                left -5px
                 
    &__icon
        display block
        width 44px 
        height 44px
        background url('../img/info-icon.png') no-repeat center
        position absolute
        left -50px
        top -8px
        
.formm
    padding 40px 0
    background #ddd
    &__title
        font-size 24px
        text-transform: uppercase
        margin-bottom 10px
        //text-align center
    .input
        width 250px
        margin 10px 10px 10px 0
    // .form
    //     display table
    //     margin auto 
        
    .form__btn
        margin-left 10px
        


.ttext
    width 100%
    background radial-gradient(circle,#52495d 61%,#5d516c 83%) #52495d
    padding 40px
    margin-bottom 60px
    color #fff
    font-size 18px
    font-weight 300